body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
    background-color: #cddeff;
    color: #5754aa;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 75%;
    margin: 1em auto;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.message-success{
    background-color: #cff3da;
    color: #418f61;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 75%;
    margin: 1em auto;
    border-radius: 10px;
    border: 1px solid lightgray;

}
.message-warning{
    background-color: #fcfbc9;
    color: #917e19;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 75%;
    margin: 1em auto;
    border-radius: 10px;
    border: 1px solid lightgray;

}
.message-error{
    background-color: #fad3d7;
    color: #a44c60;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 75%;
    margin: 1em auto;
    border-radius: 10px;
    border: 1px solid lightgray;

}